<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-onfido"
        version="1.1.2">
    <name>Onfido</name>
    <description>Cordova plugin for Onfido</description>
    <license>MIT</license>
    <keywords>onfido,onfido-cordova,onfido-plugin,onfido-cordova-ios,onfido-cordova-android</keywords>
    <repo>https://github.com/rewireltd1/cordova-plugin-onfido.git</repo>

    <!-- <engines>
      <engine name="cordova" version=">=6.4.0" />
      <engine name="cordova-android" version=">=4.0.0" />
      <engine name="cordova-ios" version=">=4.3.1" />
    </engines> -->

    <js-module name="Onfido" src="www/onfido.js">
        <clobbers target="onfido"/>
        <clobbers target="cordova.plugins.onfido"/>
        <clobbers target="plugin.onfido"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="app/src/main/AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.plugin.onfido.OnfidoActivity" android:label="Onfido Activity">
                <intent-filter>
                    <action android:name="com.plugin.onfido.OnfidoActivity"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Onfido">
                <param name="android-package" value="com.plugin.onfido.OnFidoBridge"/>
                <param name="android-package-OnfidoActivity" value="com.plugin.onfido.OnfidoActivity"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <source-file src="src/android/OnFidoBridge.java" target-dir="src/com/plugin/onfido"/>
        <source-file src="src/android/OnfidoActivity.java" target-dir="src/com/plugin/onfido"/>
        <framework src="src/android/onfido.gradle" custom="true" type="gradleReference"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Onfido">
                <param name="ios-package" value="OnFidoBridge" onload="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Required for document and facial capture</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>Required for video capture</string>
        </config-file>

        <header-file src="src/ios/OnFidoBridge.h"/>
        <source-file src="src/ios/OnFidoBridge.m"/>

        <podspec use-frameworks="true">
            <config>
                <source url="https://cdn.cocoapods.org/"/>
            </config>
            <pods>
                <pod name="Onfido" spec="13.2.0"/>
            </pods>
        </podspec>
    </platform>
</plugin>
